* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, rgba(0,36,50,1) 50%, rgba(56,85,99,1) 100%);
    display: grid;
}

.margin-section {
    margin-bottom: 20px;
}

.margin-sup {
    margin-top: 40px;
}

.margin-min {
    margin-bottom: 5px;
}

.margin-titulos {
    margin: 10px 0 20px;
}

.contenedor-verMas {
    width: 90%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 30px;
    width: 90%;

    transition: transform 0.5s ease-out;
}

.contenedor-verMas:hover {
    transform: scale(1.02);
}

.contenedor-verMas a {
    background-color: #023047;
    text-decoration: none;
    width: 100%;
    text-align: center;
    display: grid;
    align-items: center;
    border-radius: 20px;
    border: 3px ridge #ffb703;
}

.contenedor-verMas a span {
    color: white;
}

/*TIPOS DE TEXTOS*/
.texto-uno {
    font-size: 20px;
    font-weight: bold;
    color: #ffb703;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.texto-dos {
    font-size: 24px;
    font-weight: bold;
    color: #ffb703;
    text-align: center;
}

.texto-tres {
    font-size: 16px;
    color: #2a9d8f;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
}

.texto-cuatro {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    color: white;
}

.texto-parrafos {
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: start;
    padding: 0 5px 0 5px;
}

.texto-vivi {
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/*ENCABEZADO PRINCIPAL*/


.encabezado {
    height: 150px;
}

.encabezado-centro {
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-rows: 370px 80px;
    justify-items: center;
    align-items: center;
}

.encabezado-centro h1 {
    font-family: 'Rubik Dirt', cursive;
    font-size: 60px;
    font-weight: 400;
    color: white;
}

.encabezado-centro h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    color: white;
}

.textos-span {
    margin-top: 10px;
    margin-left: 5px;
}

.textos-span span {
    color: white;
    font-size: 13px;
}

.textos-span span:nth-last-child(2) {
    margin: 0 30px 0 30px;
}

.boton-index {
    margin-top: 5px;
    margin-right: 10px;
    color: white;
    justify-self: end;
}

.texto-dos {
    font-size: 24px;
    font-weight: bold;
    color: #ffb703;
    text-align: center;
}

.texto-tres {
    font-size: 16px;
    color: slategray;
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 5px;
}

.textos-cuatro {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 5px;
    color: white;
}

.texto-dos-obras {
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin-top: 10px;
    margin-left: 5px;
    z-index: 3;
}

.texto-tres-obras {
    font-size: 16px;
    color: grey;
    margin-bottom: 40px;
    margin-left: 5px;
}

.texto-zuparq {
    font-size: 18px;
    color: white;
    font-weight: bold;
}

.padding {
    padding-top: 15px;
}

.bg-header {
    background-color: #008350;
}

.bg-obras {
    background-color: #ffb703;
}

.bg-disenos {
    background-color: orange;
}

.bg-nosotros {
    background-color: cornflowerblue;
}

.bg-section {
    margin-top: 30px;
}

.bg-footer {
    background-image: url(../imagenes/bg-footer.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: #94d2bd;
}

.bg-encabezado {
    background-image: url(../imagenes/bg-header.png);
    background-repeat: no-repeat;
    background-position: center top;
}


.alto-footer {
    height: 250px;
}

.alto-cont-footer {
    height: 150px;
}

.contenedor-info-oyd-index {
    background-color: rgba(0, 53, 102, .4);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px 10px #000000de;
    margin-left: auto;
    margin-right: auto;
}

.parrafo-unico {
    font-size: 18px;
    font-weight: 400;
    color: rgb(4, 247, 166);
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 80%;
} 

.plumas {
    width: 450px;
    height: 100px;
    background-image: url(../imagenes/blanco-tarjetas.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 50px;
    z-index: 2;
}

.width-img-contactos {
    width: 200px;
}

.margin-top-cont {
    margin-top: 200px;
}











.width-img {
    width: 100%;
}

.width-img-obrasydis {
    width: 100%;
    z-index: 1;
}

.img-index-obrasydis {
    width: 100%;
}


/*MAIN*/

.contenedor-section {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    padding: 10px 0;
}

.contenedor-section-contactos {
    background-color: rgb(38, 70, 83, .9);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0px 0px 50px 20px #000000;
}

.contenedor-info {
    background-color: rgba(0, 53, 102, .4);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px 10px #000000de;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-info-contactos-a {
    background-color: #003566;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 260px;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px outset #ffb703;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 10px #000000de;
}

.contenedor-info-contactos-b {
    background-color: rgba(0, 53, 102);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 25px 10px #000000de;
    margin-left: auto;
    margin-right: auto;
}

.contenedor-info-obras {
    background-color: white ;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    width: 80%;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px 10px #000000de;

    transition: transform 0.5s ease-out;
    position: relative;
}

.contenedor-info-obras:hover {
    transform: scale(1.1);
}

.img-index-obras {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 5px;
    justify-items: center;
    width: 60%;
}

.img-index-obras a {
    display: flex;
    justify-content: center;
}

/*OBRAS*/
#encabezado-obras {
    width: 100%;
    height: 600px;
    display: grid;
    grid-template-rows: 90px 90px 250px 170px;
}

.degrade {
    display: grid;
    align-items: center;
    background: linear-gradient(0deg, rgba(253, 187, 45, 0) 65%, rgb(37, 37, 37) 100%);
}

#encabezado-obras h1 {
    display: grid;
    align-items: center;
}

.contenedor-section-encabezado-obras {
    background-color: rgb(2, 48, 71, .8);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: center;
    width: 90%;
    padding: 10px 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.contenedor-info-encabezado-obras {
    background-color: #003566;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: center;
    width: 90%;
    padding: 10px;
    border: 3px outset #ffb703;
    border-radius: 15px;
}

/* .contenedor-section-obras {
    background-color: rgb(2, 48, 71, .8);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-self: center;
    width: 90%;
    padding: 10px 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 40px;
    box-shadow: 0px 0px 50px 20px #000000;
} */

.enlace-obras {
    text-align: center;
    text-decoration: none;
    display: grid;
    justify-items: center;
}

/*NOSOTROS*/
.formulario-nos {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    width: 100%;
    background-color: white;
}

.formulario-nosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.formulario-nosotros span {
    margin-bottom: 10px;
}

/*CONTACTOS*/
.formulario-cont {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.formulario-contacto {
    text-align: center;

}

.form-cont-SiNo {
    display: flex;
    justify-content: space-evenly;
}

.cont-info-contactos {
    display: grid;
    grid-template-rows: 3fr 1fr 3fr;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.cont-info-contactos img {
    display: grid;
    justify-self: center;
}

/*FOOTER*/
footer {
    background-color: #023047;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px;
}

.footer-texto {
    display: grid;
    justify-content: center;
    align-content: center;
}

.footer-ul {
    display: grid;
    justify-items: end;
    align-items: end;
}

.footer-ul ul {
    list-style: none;
    display: flex;
    margin-bottom: 10px;
}

.footer-ul ul li {
    margin-right: 8px;
}

@media (max-width: 600px) {
    .contenedor-info-obras {
        width: 350px;
    }

    .contenedor-info-oyd-index {
        width: 90%;
    }

    .parrafo-unico {
        font-size: 16px;
    }

    footer {
        justify-content: center;
    }

    .margin-top-uno {
        margin-top: 125px;
    }
    
}

@media (min-width: 600px) and (max-width: 767px) {
    .contenedor-info-contactos-b {
        width: 540px;
    }

    .contenedor-info {
        width: 540px;
    }

    .contenedor-info-obras {
        width: 350px;
    }

    .contenedor-info-oyd-index {
        width: 535px;
    }

    .margin-top-uno {
        margin-top: 125px;
    }
}

@media (min-width: 600px) {
    footer {
        justify-content: space-evenly;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .contenedor-info-contactos-b {
        width: 600px;
    }

    .contenedor-info {
        width: 600px;
    }

    .contenedor-info-obras {
        width: 400px;
    }

    .contenedor-info-oyd-index {
        width: 595px;
    }
    
    .margin-top-uno {
        margin-top: 150px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {
    .encabezado-centro {
        height: 650px;
        grid-template-rows: 500px 150px;
    }

    .encabezado-centro h1 {
        font-size: 100px;
    }

    .contenedor-section-obras {
        padding: 100px 30px 30px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
    }

    .contenedor-info-obras {
        width: 450px;
        margin-top: 0;
    }

    .contenedor-info-oyd-index {
        width: 400px;
    }

    .contenedor-info-oyd-index p {
        text-align: start;
    }

    .contenedor-info {
        width: 920px;
        display: flex;
        text-align: end;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
    }

    .contenedor-info-contactos-b {
        width: 920px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .texto-parrafos {
        text-align: end;
        background-color:  rgba(0, 53, 102, .4);
    }

    .width-img {
        width: 500px;
    }

    .obrasydisenos-index img {
        width: 100%;
    }

    .index-obras-disenos {
        display: flex;
        flex-direction: row;
    }

    .obrasydisenos-index {
        display: flex;
        width: 920px;
        margin-left: auto;
        margin-right: auto;
    }

    .formulario-nosotros span {
        text-align: start;
    }

    .formulario-nosotros input, textarea {
        width: 80%;
    }

    .texto-tres {
        margin-right: 5px;
    }

    .texto-cuatro {
        margin-right: 5px;
    }

    .textos-span {
        margin-right: 5px;
    }
    
    .margin-top {
        margin-top: 50px;
    }

    .margin-top-uno {
        margin-top: 80px;
    }
}

@media (min-width: 1067px) {
    .margin-top-dos {
        margin-top: 80px;
    }
} 

@media (min-width: 1200px) {

    .encabezado-centro {
        height: 650px;
        grid-template-rows: 550px 100px;
    }

    .encabezado-centro h1 {
        font-size: 100px;
    }

    .contenedor-section-obras {
        padding: 100px 30px 30px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
    }

    .contenedor-info {
        width: 980px;
        display: flex;
        text-align: end;
        align-items: center;
        background-color: transparent;
        box-shadow: none;
    }

    .contenedor-info-contactos-b {
        width: 980px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .contenedor-info-obras {
        width: 450px;
        margin-top: 0;
    }

    .texto-parrafos {
        text-align: end;
        background-color:  rgba(0, 53, 102, .4);
    }

    .width-img {
        width: 520px;
    }

    .obrasydisenos-index img {
        width: 100%;
    }

    .index-obras-disenos {
        display: flex;
        flex-direction: row;
    }

    .obrasydisenos-index {
        display: flex;
        width: 920px;
        margin-left: auto;
        margin-right: auto;
    }

    .contenedor-info-oyd-index {
        width: 420px;
    }

    .formulario-nosotros span {
        text-align: start;
    }

    .formulario-nosotros input, textarea {
        width: 80%;
    }

    .texto-tres {
        margin-right: 5px;
    }

    .texto-cuatro {
        margin-right: 5px;
    }

    .textos-span {
        margin-right: 5px;
    }

    .margin-top {
        margin-top: 80px;
    }

    .margin-top-uno {
        margin-top: 80px;
    }

    .margin-top-dos {
        margin-top: 80px;
    }
}

@media (min-width: 1567px) {
    .margin-top-tres {
        margin-top: 80px;
    }
} 

@media (min-width: 1680px) {

    .contenedor-info-contactos-b {
        width: 1050px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .encabezado-centro {
        height: 700px;
        grid-template-rows: 600px 100px;
    }

    .contenedor-info {
        width: 1050px;
    }

    .margin-top {
        margin-top: 100px;
    }
}

/* MEDIA QUERRY
@media (max-width: 768px) {

    .texto-parrafos span {
        display: none;
    }

    .texto-none {
        display: none;
    }

    .parrafo-unico {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .texto-parrafos .span-tardio {
        display: none;
    }
}

@media (min-width: 480px) and (max-width: 599px) {

    .contenedor-section-encabezado-obras {
        width: 430px;
        padding: 20px;
    }

    .contenedor-section-obras {
        width: 400px;
        padding: 20px;
    }

    .contenedor-info {
        margin-bottom: 10px;
        align-items: center;
    }

    .contenedor-info-obras {
        width: 350px;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {

    .contenedor-section-contactos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    #encabezado-obras {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-rows: 100px 100px 420px 180px;
    }

    .texto-uno {
        font-size: 24px;
    }
    
    .texto-dos {
        font-size: 20px;
    }
}

@media (min-width: 600px) and (max-width: 767px) {

    .contenedor-section-encabezado-obras {
        width: 500px;
        height: 300px;
        padding: 20px;
    }

    .contenedor-info-encabezado-obras {
        align-items: center;
        height: 90%;
    }

    .contenedor-section-obras {
        width: 500px;
        padding: 20px;
    }

    .contenedor-info {
        margin-bottom: 15px;
        align-items: center;
        padding: 20px 30px;
    }

    .contenedor-info-contactos-b {
        padding: 20px 30px;
        margin-bottom: 15px;
    }

    .contenedor-info-obras {
        width: 400px;
    }

    .img-index-obrasydis {
        width: 280px;
    }

    .img-index-obras {
        margin-top: 20px;
        width: 280px;
    }
}

@media (min-width: 768px) {

    .contenedor-section-obras {
        width: 690px;
        padding: 20px;
    }

    .contenedor-info {
        margin-bottom: 20px;
        align-items: center;
    }

    .contenedor-info-obras {
        width: 430px;
    }

    .img-index-obras {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-index-obras a {
        width: 50%;
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .contenedor-info {
        margin-top: 20px;
        margin-bottom: 15px;
        padding: 25px 35px;
    }

    .contenedor-info-contactos-b {
        padding: 25px 35px;
        margin-bottom: 30px;
    }

    .contenedor-section {
        padding: 20px 0;
        margin-bottom: 45px;
    }

    .contenedor-section-obras {
        padding: 20px 0;
        margin-bottom: 45px;
    }

    .contenedor-info-contactos-a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;
        width: 280px;
        padding: 10px;
        margin-bottom: 30px;
    }

    .contenedor-section-encabezado-obras {
        width: 600px;
        height: 300px;
        padding: 20px;
    }

    .contenedor-info-encabezado-obras {
        align-items: center;
        height: 90%;
    }

    .img-index-obras {
        width: 95%;
    }

    .contenedor-verMas {
        height: 35px;
    }

    footer {
        padding: 10px 30px;
    }
}

@media (min-width: 1024px) {

    .contenedor-section-contactos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 20px;
        text-align: center;
    }

    .cont-info-contactos p {
        margin: 0 10px;
    }

    .contenedor-info {
        margin-top: 40px;
        margin-bottom: 30px;
        padding: 30px 60px;
    }

    .contenedor-info-contactos-b {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-items: center;
        width: 95%;
        padding: 30px 60px;
        margin-bottom: 30px;
    }

    .contenedor-section-obras {
        padding: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
        justify-content: space-evenly;
    }

    #encabezado-obras {
        width: 100%;
        height: 768px;
        display: grid;
        grid-template-rows: 100px 100px 398px 170px;
    }
}

@media (min-width: 1024px) and (max-width: 1199px) {

    .contenedor-section {
        padding: 40px 0;
        margin-bottom: 50px;
    }

    .contenedor-section-obras {
        padding: 40px 0;
        margin-bottom: 50px;
    }

    .contenedor-section-encabezado-obras {
        width: 600px;
        height: 300px;
        padding: 20px;
    }

    .contenedor-info-encabezado-obras {
        align-items: center;
        height: 87%;
    }

    .img-index-obras {
        width: 90%;
    }

    .contenedor-verMas {
        height: 40px;
    }

    footer {
        padding: 10px 50px;
    }
}

@media (min-width: 1200px) {

    .contenedor-section {
        padding: 50px 0;
        margin-bottom: 80px;
    }

    .contenedor-section-obras {
        padding: 50px 0;
        margin-bottom: 80px;
    }

    .contenedor-section-encabezado-obras {
        width: 800px;
        height: 300px;
        padding: 20px;
    }

    .contenedor-info-encabezado-obras {
        align-items: center;
        height: 87%;
    }

    #encabezado-obras {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-rows: 100px 100px 420px 180px;
    }

    .texto-uno {
        font-size: 24px;
    }
    
    .texto-dos {
        font-size: 20px;
    }

    .img-index-obras {
        width: 80%;
    }

    .contenedor-verMas {
        height: 50px;
    }

    footer {
        padding: 10px 50px;
    }
}

@media (min-width: 1600px) {

    .contenedor-section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .contenedor-section-contactos {
        width: 90%;
    }
    
    .contenedor-section-encabezado-obras {
        width: 1200px;
        height: 350px;
        padding: 20px;
    }

    #encabezado-obras {
        width: 100%;
        height: 1080px;
        display: grid;
        grid-template-rows: 150px 150px 480px 300px;
    }
} */
