* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: linear-gradient(0deg, #002432 50%, #385563 100%);
  display: grid; }

.padding-logo {
  margin-top: 25px;
  margin-bottom: 25px; }

.margin-sup {
  margin-top: 40px; }

.margin-titulos {
  margin: 10px 0 20px; }

.encabezado {
  height: 150px; }
  .encabezado-centro {
    height: 450px;
    width: 100%;
    display: grid;
    grid-template-rows: 370px 80px;
    justify-items: center;
    align-items: center; }
    .encabezado-centro h1 {
      font-family: 'Rubik Dirt', cursive;
      font-size: 60px;
      font-weight: 400;
      color: #fff; }
    .encabezado-centro h2 {
      font-family: 'Dancing Script', cursive;
      font-size: 24px;
      color: #fff; }

.texto-cuatro {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 20px 20px 20px;
  color: #fff; }

.textos-span {
  margin: 20px 20px 10px 20px; }
  .textos-span span {
    color: #fff;
    font-size: 13px; }
    .textos-span span:nth-last-child(2) {
      margin: 0 30px 0 30px; }

.boton-index {
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
  right: 20px;
  display: flex;
  justify-content: flex-end; }

.texto-dos {
  font-size: 24px;
  font-weight: bold;
  color: #ffb703;
  text-align: center; }
  .texto-dos-obras {
    font-size: 22px;
    font-weight: bold;
    color: black;
    margin: 30px 0 20px 20px; }

.texto-tres {
  font-size: 16px;
  color: slategray;
  margin: 20px 20px 0 20px; }
  .texto-tres-obras {
    font-size: 16px;
    color: grey;
    margin: 0px 0 40px 20px; }

.texto-parrafos {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0 20px 0 20px; }

.texto-zuparq {
  font-size: 18px;
  color: #fff;
  font-weight: bold; }

.padding {
  margin-top: 20px;
  margin-bottom: 20px; }

.bg-header {
  background-color: #008350; }

.bg-footer {
  background-image: url(../imagenes/bg-footer.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #94d2bd; }

.bg-encabezado {
  background-image: url(../imagenes/bg-header.png);
  background-repeat: no-repeat;
  background-position: center top; }

.alto-footer {
  height: 250px; }

.alto-cont-footer {
  height: 150px; }

.contenedor-info-oyd-index {
  background-color: rgba(0, 53, 102, 0.4);
  display: grid;
  grid-template-columns: 1fr;
  justify-items: start;
  width: 90%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 25px 10px #000000de;
  margin-left: auto;
  margin-right: auto; }
  .contenedor-info-oyd-index p {
    text-align: start; }

.parrafo-unico {
  font-size: 18px;
  font-weight: 400;
  color: #04f7a6;
  text-align: center;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  width: 80%; }

.width-img {
  width: 100%; }
  .width-img-contactos {
    width: 200px; }
  .width-img-obrasydis {
    width: 100%; }

.contenedor-info {
  background-color: rgba(0, 53, 102, 0.4);
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin-bottom: 20px;
  box-shadow: 0px 0px 25px 10px #000000de;
  margin-left: auto;
  margin-right: auto; }
  .contenedor-info-obras {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    width: 80%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px 5px #000000de;
    transition: transform 0.5s ease-out; }
    .contenedor-info-obras:hover {
      transform: scale(1.1); }
  .contenedor-info-contactos-b {
    background-color: #003566;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 25px 10px #000000de;
    margin-left: auto;
    margin-right: auto; }

.enlace-obras {
  text-align: center;
  text-decoration: none;
  display: grid;
  justify-items: center; }

.formulario-nos {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  background-color: #fff; }
  .formulario-nosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr); }
    .formulario-nosotros span {
      margin-bottom: 10px;
      text-align: start; }
    .formulario-nosotros input, .formulario-nosotros textarea {
      width: 80%; }

.cont-info-contactos {
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  align-items: center;
  justify-content: space-between;
  text-align: center; }
  .cont-info-contactos img {
    display: grid;
    justify-self: center; }

footer {
  background-color: #023047;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 10px;
  justify-content: center; }

.contenedor-section {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  width: 100%;
  padding: 10px 0; }
  .contenedor-section-obras {
    padding: 100px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto; }

.obrasydisenos-index {
  margin-left: auto;
  margin-right: auto; }
  .obrasydisenos-index img {
    width: 100%; }

.index-obras-disenos {
  display: flex;
  flex-direction: row; }

.margin-top {
  margin-top: 50px; }
  .margin-top-cont {
    margin-top: 200px; }

@media (max-width: 600px) {
  .contenedor-info-obras {
    width: 350px; }
  .contenedor-info-oyd-index {
    width: 90%; }
  .parrafo-unico {
    font-size: 16px; }
  footer {
    justify-content: center; }
  .margin-top-uno {
    margin-top: 80px; } }

@media (min-width: 600px) and (max-width: 767px) {
  .contenedor-info {
    width: 540px; }
    .contenedor-info-contactos-b {
      width: 540px; }
    .contenedor-info-obras {
      width: 350px; }
    .contenedor-info-oyd-index {
      width: 535px; }
  .margin-top-uno {
    margin-top: 100px; } }

@media (min-width: 600px) {
  footer {
    justify-content: space-evenly; } }

@media (min-width: 768px) and (max-width: 1023px) {
  .contenedor-info {
    width: 600px; }
    .contenedor-info-contactos-b {
      width: 600px; }
    .contenedor-info-obras {
      width: 400px; }
    .contenedor-info-oyd-index {
      width: 595px; }
  .margin-top-uno {
    margin-top: 125px; }
  .contenedor-section-obras {
    padding: 100px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 500px;
    height: auto;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1024px) and (max-width: 1199px) {
  .encabezado-centro {
    height: 650px;
    grid-template-rows: 500px 150px; }
    .encabezado-centro h1 {
      font-size: 100px; }
  .contenedor-section-obras {
    padding: 100px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto; }
  .contenedor-info {
    width: 920px;
    display: flex;
    text-align: end;
    align-items: center;
    background-color: transparent;
    box-shadow: none; }
    .contenedor-info-obras {
      width: 450px;
      margin-top: 0; }
    .contenedor-info-oyd-index {
      width: 400px; }
      .contenedor-info-oyd-index p {
        text-align: start; }
    .contenedor-info-contactos-b {
      width: 920px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
  .texto-parrafos {
    text-align: end; }
  .width-img {
    width: 500px; }
  .index-obras-disenos {
    display: flex;
    flex-direction: row; }
  .obrasydisenos-index {
    display: flex;
    width: 920px;
    margin-left: auto;
    margin-right: auto; }
    .obrasydisenos-index img {
      width: 100%; }
  .formulario-nosotros span {
    text-align: start; }
  .formulario-nosotros input, textarea {
    width: 80%; }
  .texto-tres {
    margin: 0 20px 0px 20px; }
  .texto-cuatro {
    margin: 10px 20px 20px 20px; }
  .textos-span {
    margin: 20px 20px 10px 20px; }
  .margin-top {
    margin-top: 50px; }
    .margin-top-uno {
      margin-top: 125px; } }

@media (min-width: 1067px) {
  .margin-top-dos {
    margin-top: 125px; } }

@media (min-width: 1200px) {
  .encabezado-centro {
    height: 650px;
    grid-template-rows: 550px 100px; }
    .encabezado-centro h1 {
      font-size: 100px; }
  .contenedor-section-obras {
    padding: 100px 30px 30px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: auto;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto; }
  .contenedor-info {
    width: 980px;
    display: flex;
    text-align: end;
    align-items: center;
    background-color: transparent;
    box-shadow: none; }
    .contenedor-info-obras {
      width: 450px;
      margin-top: 0;
      margin-bottom: 80px; }
    .contenedor-info-contactos-b {
      width: 980px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
  .texto-parrafos {
    text-align: end; }
  .width-img {
    width: 520px; }
  .index-obras-disenos {
    display: flex;
    flex-direction: row; }
  .obrasydisenos-index {
    display: flex;
    width: 920px;
    margin-left: auto;
    margin-right: auto; }
    .obrasydisenos-index img {
      width: 100%; }
  .contenedor-info-oyd-index {
    width: 420px; }
  .formulario-nosotros span {
    text-align: start; }
  .formulario-nosotros input, textarea {
    width: 80%; }
  .texto-tres {
    margin: 20px 20px 10px 20px; }
  .texto-cuatro {
    margin: 10px 20px 20px 20px; }
  .textos-span {
    margin-right: 20px; }
  .margin-top {
    margin-top: 80px; }
    .margin-top-uno {
      margin-top: 125px; }
    .margin-top-dos {
      margin-top: 125px; } }

@media (min-width: 1567px) {
  .margin-top-tres {
    margin-top: 125px; } }

@media (min-width: 1680px) {
  .encabezado-centro {
    height: 700px;
    grid-template-rows: 600px 100px; }
  .contenedor-info {
    width: 1050px; }
    .contenedor-info-contactos-b {
      width: 1050px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap; }
  .margin-top {
    margin-top: 100px; } }
