@import 'variableYmixin';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(0deg, rgba(0,36,50,1) 50%, rgba(56,85,99,1) 100%);
	display: grid;
}
.padding {
	margin-top: 20px;
    margin-bottom: 20px;

    &-logo {
        margin-top: 25px;
        margin-bottom: 25px;
        transition: transform 0.5s ease-out;
    
        &:hover {
            transform: scale(1.1);
        }
    }
}
.margin {
    &-sup {
        margin-top: 40px;
    }

    &-titulos {
        margin: 100px 0 40px;
    }

    &-top {
        margin-top: 50px;
    
        &-cont {
            margin-top: 200px;
        }
    }
}
.nav-efecto a {
    display: inline-block;
    position: relative;
    padding: 0 10px 3px 10px;
    transition: transform 0.5s ease-out;

    &:hover {
        transform: scale(1.05);
    }
    
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $texto-verde;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
.encabezado {
	height: 150px;

    &-centro {
        height: 450px;
        width: 100%;
        display: grid;
        grid-template-rows: 370px 80px;
        justify-items: center;
        align-items: center;

        h1 {
            font-family: 'Rubik Dirt', cursive;
            font-size: 60px;
            font-weight: 400;
            color: $texto-blanco;

            & span {
                color: $texto-verde;
            }
        }
        h2 {
            font-family: 'Dancing Script', cursive;
            font-size: 24px;
            color: $texto-blanco;
        }
    }
}
.texto {
    &-zuparq {
        font-size: 18px;
        color: $texto-blanco;
        font-weight: bold;
    }

    &-titulos {
        font-size: 30px;
        font-weight: bold;
        font-family: 'Roboto Condensed', sans-serif;
        color: #f7dd9c;
        text-shadow: 4px 4px 0px #141414;
        text-align: center;
    }

    &-dos {
        font-size: 30px;
        font-weight: bold;
        color: #ffb703;
        text-align: center;
        text-shadow: 4px 4px 0px #141414;
        font-family: 'Roboto Condensed', sans-serif;
    
        &-obras {
            font-size: 22px;
            font-weight: bold;
            color: black;
            margin: 30px 0 20px 20px;
        }
    }

    &-tres {
        font-size: 16px;
        color: slategray;
        margin: 20px 20px 0 20px;
        font-family: 'Roboto Mono', monospace;
    
        &-obras {
            font-size: 16px;
            color: grey;
            margin: 0px 0 40px 20px;
        }
    }

    &-cuatro {
        font-size: 22px;
        font-weight: bold;
        margin: 10px 20px 20px 20px;
        color: $texto-blanco;
        font-family: 'Roboto Condensed', sans-serif;
    }

    &-span {
        margin: 20px 20px 10px 20px;
        font-family: 'Roboto Mono', monospace;

        span {
            color: $texto-blanco;
            font-size: 13px;
            display: inline-block;
            position: relative;
    
            &:nth-last-child(2) {
                margin: 0 30px 0 30px;
            }
    
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: $texto-verde;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.6s ease-out;
            }
    
            &:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    &-parrafos {
        font-size: 16px;
        font-weight: 400;
        color: $texto-blanco; 
        margin: 0 20px 0 20px;
        font-family: 'Poppins', sans-serif;
    
        &-contactos {
            text-align: start;
            font-size: 14px;
            font-weight: 400;
            color: $texto-blanco; 
            margin: 0 20px 0 20px;
        }
    }

    &-form {
        font-size: 22px;
        font-weight: bold;
        color: grey;
        text-align: center;
        font-family: 'Roboto Mono', monospace;
    }
}
.parrafo-unico {
	font-size: 18px;
    font-weight: 400;
    color: $texto-verde;
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 540px;
}
.boton-index {
    margin: 0 20px 20px 20px;
	color: $texto-blanco;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    transition: transform 0.5s ease-out;

    &:hover {
        transform: scale(1.7);
        color: $texto-verde;
    }
}
.bg {
    &-header {
        @include fondo(#008350)
    }
    
    &-footer {
        background-image: url(../imagenes/bg-footer.png);
        background-repeat: no-repeat;
        background-position: center top;
        @include fondo($texto-verde);
    }

    &-encabezado {
        background-image: url(../imagenes/bg-header.png);
        background-repeat: no-repeat;
        background-position: center top;
        padding-top: 100px;
    }
}
.alto-footer {
	height: 250px;

    &-cont {
        height: 150px;
    }
}
.width-img {
	width: 100%;

    &-contactos {
        width: 200px;
    }

    &-obrasydis {
        width: 100%;
    }
}
.contenedor {
    &-section {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 100%;
        padding: 10px 0;

        &-obras {
            padding: 50px 30px 30px 30px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 90%;
            height: auto;
            justify-content: space-evenly;
            margin-left: auto;
            margin-right: auto;
        }
    }

    &-info {
        background-color: rgba(0, 53, 102, .4);
        display: grid;
        grid-template-columns: 1fr;
        width: 90%;
        margin-bottom: 20px;
        box-shadow: 0px 0px 25px 10px #000000de;
        margin-left: auto;
        margin-right: auto;

        &-obras {
            background-color: $texto-blanco;
            display: grid;
            grid-template-columns: 1fr;
            justify-items: start;
            width: 80%;
            margin-bottom: 50px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 0px 25px 5px #000000de;
            transition: transform 0.5s ease-out;

            &:hover {
                transform: scale(1.1);
            }
        }

        &-contactos {
            display: grid;
            grid-template-rows: 3fr 1fr 3fr;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            img {
                display: grid;
                justify-self: center;
            }

            &-b {
                @include fondo(rgba(0, 53, 102, 0.4));
                display: grid;
                grid-template-columns: 1fr;
                justify-items: center;
                width: 90%;
                padding: 10px;
                margin-bottom: 10px;
                box-shadow: 0px 0px 25px 10px #000000de;
                margin-left: auto;
                margin-right: auto;
            }
        }

        &-oyd-index {
            @include fondo(rgba(0, 53, 102, .4));
            display: grid;
            grid-template-columns: 1fr;
            justify-items: start;
            width: 90%;
            margin-bottom: 20px;
            box-shadow: 0px 0px 25px 10px #000000de;
            margin-left: auto;
            margin-right: auto;
            p {
                text-align: start;
            }
        }
    }
}
.enlace-obras {
	text-align: center;
	text-decoration: none;
	display: grid;
	justify-items: center;
}
.formulario {
    display: grid;
    grid-template-rows: 300px 90px;
    width: 100%;

    &-enviar {
        width: 80%;
        justify-self: center;
        margin-bottom: 50px;
        border-radius: 10px;
        background-color: $texto-verde;
        transition: transform 0.6s ease-out;
        font-family: 'Montserrat', sans-serif;
        
        &:hover {
            transform: scale(1.05);
        }
    }

    &-nosotros {
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        margin-top: 40px;
    
        input, textarea {
            width: 80%;
            justify-self: center;
            margin: 15px 0;
            padding: 5px 0;
            border: none;
            border-radius: 5px;
        }
    }
}
.mapa {
    width: 600px;

    & iframe {
        width: 100%;
        height: 450px;
    }
}
footer {
    @include fondo(#023047);
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 10px;
	justify-content: center;

    & li a {
        display: inline-block;
        transition: transform 0.5s ease-out;

            &:hover {
                transform: scale(1.9);
                color: #023047;
            }
    }
}
.obrasydisenos-index {
	margin-left: auto;
	margin-right: auto;
	img {
		width: 100%;
	}
}
.index-obras-disenos {
	display: flex;
	flex-direction: row;
}

@import 'media';
