@import 'variableYmixin';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: linear-gradient(0deg, rgba(0,36,50,1) 50%, rgba(56,85,99,1) 100%);
	display: grid;
}
.padding-logo {
    margin-top: 25px;
    margin-bottom: 25px;
}
.margin-sup {
	margin-top: 40px;
}
.margin-titulos {
	margin: 100px 0 40px;
}
.nav-efecto a {
    display: inline-block;
    position: relative;
    transition: transform 0.5s ease-out;
    padding: 0 10px 3px 10px ;

    &:hover {
        transform: scale(1.2);
    }

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #94d2bd;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.6s ease-out;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}
.encabezado {
	height: 150px;

    &-centro {
        height: 450px;
        width: 100%;
        display: grid;
        grid-template-rows: 370px 80px;
        justify-items: center;
        align-items: center;

        h1 {
            font-family: 'Rubik Dirt', cursive;
            font-size: 60px;
            font-weight: 400;
            color: $texto-blanco;

            & span {
                color: #94d2bd;
            }
        }
        h2 {
            font-family: 'Dancing Script', cursive;
            font-size: 24px;
            color: $texto-blanco;
        }
    }
}

.texto-cuatro {
	font-size: 22px;
	font-weight: bold;
    margin: 10px 20px 20px 20px;
	color: $texto-blanco;
}
.textos-span {
    margin: 20px 20px 10px 20px;
	span {
		color: $texto-blanco;
		font-size: 13px;
        display: inline-block;
        position: relative;

		&:nth-last-child(2) {
			margin: 0 30px 0 30px;
		}

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            bottom: 0;
            left: 0;
            background-color: #94d2bd;
            transform: scaleX(0);
            transform-origin: bottom right;
            transition: transform 0.6s ease-out;
        }

        &:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
        }
	}
}
.boton-index {
    margin: 0 20px 20px 20px;
	color: $texto-blanco;
    right: 20px;
    display: flex;
    justify-content: flex-end;
    display: inline-block;
    transition: transform 0.5s ease-out;

    &:hover {
        transform: scale(1.7);
        color: #94d2bd;
    }
}
.texto-dos {
	font-size: 30px;
	font-weight: bold;
	color: #ffb703;
	text-align: center;
    text-shadow: 4px 4px 0px #141414;

    &-obras {
        font-size: 22px;
        font-weight: bold;
        color: black;
        margin: 30px 0 20px 20px;
    }
}
.texto-tres {
	font-size: 16px;
	color: slategray;
    margin: 20px 20px 0 20px;

    &-obras {
        font-size: 16px;
        color: grey;
        margin: 0px 0 40px 20px;
    }
}
.texto-parrafos {
	font-size: 16px;
	font-weight: 400;
	color: $texto-blanco; 
	margin: 0 20px 0 20px;
}
.texto-zuparq {
	font-size: 18px;
	color: $texto-blanco;
	font-weight: bold;
}
.padding {
	margin-top: 20px;
    margin-bottom: 20px;
}
.bg-header {
    @include fondo(#008350)
}
.bg-footer {
	background-image: url(../imagenes/bg-footer.png);
	background-repeat: no-repeat;
	background-position: center top;
    @include fondo(#94d2bd);
}
.bg-encabezado {
	background-image: url(../imagenes/bg-header.png);
	background-repeat: no-repeat;
	background-position: center top;
}
.alto-footer {
	height: 250px;
}
.alto-cont-footer {
	height: 150px;
}
.contenedor-info-oyd-index {
    @include fondo(rgba(0, 53, 102, .4));
	display: grid;
	grid-template-columns: 1fr;
	justify-items: start;
	width: 90%;
	margin-bottom: 20px;
	box-shadow: 0px 0px 25px 10px #000000de;
	margin-left: auto;
	margin-right: auto;
	p {
		text-align: start;
	}
}
.parrafo-unico {
	font-size: 18px;
    font-weight: 400;
    color: rgb(4, 247, 166);
    text-align: center;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    width: 540px;
}
.width-img {
	width: 100%;

    &-contactos {
        width: 200px;
    }

    &-obrasydis {
        width: 100%;
    }
}
.contenedor-info {
	background-color: rgba(0, 53, 102, .4);
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 25px 10px #000000de;
    margin-left: auto;
    margin-right: auto;

    &-obras {
        background-color: $texto-blanco;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: start;
        width: 80%;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 0px 25px 5px #000000de;
        transition: transform 0.5s ease-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-contactos-b {
        @include fondo(rgb(0, 53, 102));
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        width: 90%;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 0px 25px 10px #000000de;
        margin-left: auto;
        margin-right: auto;
    }
}
.enlace-obras {
	text-align: center;
	text-decoration: none;
	display: grid;
	justify-items: center;
}
.formulario-nos {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	width: 100%;
	background-color: $texto-blanco;

    &otros {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        span {
            margin-bottom: 10px;
            text-align: start;
        }

        input, textarea {
            width: 80%;
        }
    }
}
.cont-info-contactos {
	display: grid;
	grid-template-rows: 3fr 1fr 3fr;
	align-items: center;
	justify-content: space-between;
	text-align: center;
	img {
		display: grid;
		justify-self: center;
	}
}
footer {
    @include fondo(#023047);
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	padding: 10px;
	justify-content: center;

    & li a {
        display: inline-block;
        transition: transform 0.5s ease-out;

            &:hover {
                transform: scale(1.9);
                color: #ef476f;
            }
    }
}
.contenedor-section {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	width: 100%;
	padding: 10px 0;

    &-obras {
        padding: 100px 30px 30px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: auto;
        justify-content: space-evenly;
        margin-left: auto;
        margin-right: auto;
    }
}
.obrasydisenos-index {
	margin-left: auto;
	margin-right: auto;
	img {
		width: 100%;
	}
}
.index-obras-disenos {
	display: flex;
	flex-direction: row;
}
.margin-top {
	margin-top: 50px;

    &-cont {
        margin-top: 200px;
    }
}

@import 'media';
